{% extends "base.html" %}
{% block content %}
<header class="py-5">
    <div id="carouselExampleControls" class="carousel slide text-center carousel-dark" 
       data-ride="carousel"> 
    <div class="carousel-inner"> 
      <div class="carousel-item active"> 
        <img class="shadow-1-strong mb-4"
          src="../static/img/samportrait1.jpg" alt="avatar" style="width: 150px;" /> 
        <div class="row d-flex justify-content-center"> 
          <div class="col-lg-8"> 
            <h5 class="mb-3">Sam Petchey</h5> 
              
<p>PIANIST  COMPOSER  PRODUCER</p> 
  
            <p class="text-muted"> 
              <i class="fas fa-quote-left pe-2"></i> 
              Classic FM, Making Music Christmas Carol of the Year 2023, WINNER<br>
              <i>The Lamb</i> co-written with Abby Twigger, performed by singers from the Aberdeen Chorus of Sweet Adelines<br>
              Guards Chapel Composition Competition 2023, WINNER <i>Jesu, Lover of My Soul</i>
            </p> 
  
          </div> 
        </div> 
        <ul class="list-unstyled d-flex justify-content-center text-warning mb-0"> 
          <li><i class="fas fa-star fa-sm"></i></li> 
          <li><i class="fas fa-star fa-sm"></i></li> 
          <li><i class="fas fa-star fa-sm"></i></li> 
          <li><i class="fas fa-star fa-sm"></i></li> 
          <li><i class="far fa-star fa-sm"></i></li> 
        </ul> 
      </div> 
  
    </div> 
      
  </div> 
  <!-- Carousel wrapper -->
</header>

<div class="section" id="about"> 
    <div class="container"> 
      <div class="card aos-init aos-animate" 
           data-aos="fade-up" data-aos-offset="10"> 
        <div class="row"> 
          <div class="col-lg-6 col-md-12"> 
            <div class="card-body"> 
              <div class="h4 mt-0 title">About</div> 
                
<p>Recent graduate with an MS in Computer Science looking to  
                leverage my experience  
                building responsive and scalable web... Lorem ipsum,  
                dolor sit amet consectetur adipisicing elit. 
                "Graduate of computer science with experience working across  
                the full-stack of software development. Ive built a few. 
            </div> 
          </div> 
  
          <div class="col-lg-6 col-md-12"> 
            <div class="card-body"> 
              <div class="h4 mt-0 title">Basic Information</div> 
              <div class="row"> 
                <div class="col-sm-4"> 
                  <strong class="text-uppercase"> 
                    Age: 
                  </strong></div> 
                <div class="col-sm-8">25</div> 
              </div> 
              <div class="row mt-3"> 
                <div class="col-sm-4"> 
                  <strong class="text-uppercase"> 
                    Email: 
                  </strong></div> 
                <div class="col-sm-8">S***@gmail.com</div> 
              </div> 
              <div class="row mt-3"> 
                <div class="col-sm-4"> 
                  <strong class="text-uppercase"> 
                    Phone: 
                  </strong></div> 
                <div class="col-sm-8">8*******89</div> 
              </div> 
              <div class="row mt-3"> 
                <div class="col-sm-4"> 
                  <strong class="text-uppercase"> 
                    Address: 
                  </strong></div> 
                <div class="col-sm-8"> 
                  Patna, Bihar, India 
                </div> 
              </div> 
              <div class="row mt-3"> 
                <div class="col-sm-4"> 
                  <strong class="text-uppercase"> 
                    Language: 
                  </strong></div> 
                <div class="col-sm-8">English, Hindi</div> 
              </div> 
            </div> 
          </div> 
        </div> 
      </div> 
    </div> 
  </div> 
  
  <div class="section" id="skill"> 
    <div class="container my-2"> 
      <div class="h4 text-center mb-4 title" id="educational-info"> 
        Education 
      </div> 
      <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom"> 
        <div class="card-body"> 
          <div class="h5">Master in Computer Application</div> 
          <p class="category">LNMI INSTITUTE OF TECHNOLOGY</p> 
  
            
<p>Lorem ipsum, dolor sit amet consectetur adipisicing  
            elit. Suscipit, dolore.</p> 
  
            
<p> 
            <b>Projects:</b><br> 
          <ul> 
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.  
              Praesentium a veritatis voluptas  
              officiis distinctio molestiae nesciunt in eos nulla quam!</li> 
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing e 
              lit. Facilis, assumenda.</li> 
          </ul> 
          </p> 
  
        </div> 
      </div> 
    </div> 
  </div> 
  
  <div class="section" id="skill"> 
    <div class="container my-2"> 
      <div class="h4 text-center mb-4 title" id="Prof-skill">Professional Skills</div> 
      <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom"> 
        <div class="card-body"> 
          <b>Programming Languages:</b> R, Python, SQL, GoLang<br><br> 
          <b>Tools:</b> NumPy, Pandas, Matplotlib, MS Excel, OpenCV<br><br> 
          <b>Database Management Systems:</b> MySQL, , postgres, MongoDB, SQLite3<br><br> 
          <b>Internet Technologies:</b> Flask, HTML5, CSS, Django 
        </div> 
      </div> 
    </div> 
  </div> 
  
  
  
  
<!-- Page Content-->
<section class="pt-4">
    <div class="container px-lg-5">
        <!-- Page Features-->
        <div class="row gx-lg-5">
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i></div>
                        <h2 class="fs-4 fw-bold">Fresh new layout</h2>
                        <p class="mb-0">With Bootstrap 5, we've created a fresh new layout for this template!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-cloud-download"></i></div>
                        <h2 class="fs-4 fw-bold">Free to download</h2>
                        <p class="mb-0">As always, Start Bootstrap has a powerful collectin of free templates.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-card-heading"></i></div>
                        <h2 class="fs-4 fw-bold">Jumbotron hero header</h2>
                        <p class="mb-0">The heroic part of this template is the jumbotron hero header!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-bootstrap"></i></div>
                        <h2 class="fs-4 fw-bold">Feature boxes</h2>
                        <p class="mb-0">We've created some custom feature boxes using Bootstrap icons!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-code"></i></div>
                        <h2 class="fs-4 fw-bold">Simple clean code</h2>
                        <p class="mb-0">We keep our dependencies up to date and squash bugs as they come!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-patch-check"></i></div>
                        <h2 class="fs-4 fw-bold">A name you trust</h2>
                        <p class="mb-0">Start Bootstrap has been the leader in free Bootstrap templates since 2013!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}